body
  margin 0
  padding 0
  direction rtl
  font-family Arial

html, body
  height 100%

div#info
  background-color #D4D4D4
  height 92%

div#alerts
  background-color #272A2E
  padding 0
  height 92%

div#alerts-header
  background-color #56595D
  color #ffffff

div#alerts-header h2
  margin 0
  padding 0.5em 2em 0.5em 0
  font-size 1em
  font-weight 700

div#alerts-content.selected
  background-color #36373B

div#alerts-content.selected h3.exemption-title
  color #ffffff

div#alerts-content.selected div.exemption-info
  color #818284

div#alerts-content.selected h4.exemption-supplier
  color #AEAFB1

div#alerts-content
  padding 0 2em 0.5em 2em

div#alerts-content h3.exemption-title
  color #848584
  margin-top 0.5em
  font-size 1em
  font-weight 700

div#alerts-content div.exemption-info
  color #616469

div#alerts-content h4.exemption-supplier
  color #919297
  font-size 0.8em
  margin-bottom 0

div.exemption-flags
  color #999A9D
  padding-top 1em

// Alerts circles
div#alerts-content i
  font-size 80%
  padding-left 1em

div#alerts-content i.senior-approval
  color #E97A3F

div#alerts-content i.irregular
  color #F8CA52

// Navbar //
div#navbar
  min-height 3.5em
  height 8%

div#logo
  height 100%
  display inline-block
  padding 1em
  color #ffffff
  background-color #EA5F4F
  font-weight 700

div#search
  color #B6B6B6
  padding 1em
  display inline-block

div#search i
  padding-right 0.4em